<script>
	var level = "<%= @level %>"
	var gridsize = "<%= @gridsize %>"
	var randomArr = "<%= @randomArr %>".slice(1,-1).split(",");
	var totalopen = "<%= @totalopen %>"
	var lowestscore = "<%=@lowestscore %>"
	var attempts = 0;
	var clickdetails = new Array(-1, -1);
	var flagclicked = true;
	var opencount = 0
</script>
<body>
	Welcome <%= current_user.Names%>
  <br><div id = "LC">Your Lowest Score for this level <%= @lowestscore %> .  <%= link_to "Top five lowest scores for this level", "/gettopfive?level=#{@level}", :target => '_blank' %></div>

<table  align = "Center", class="table-bordered-Custom">
	<% i = 0 %>
	<% j = 0 %>
<% while(i < @gridsize) %>
<tr>
	<% while(j < @gridsize) %>
	<td id = <%= "#{i*@gridsize+j}" %>><%= "#{i*@gridsize+j}" %></td>
	<% j = j + 1 %>
	<% end %>
	<% j = 0 %>
	<% i = i + 1 %>
</tr>
<% end %>
</table>
<br>
<div id = 'attemp', align = "Center">Your Attempts ---> </div>
<div class="actions", align = "Center">
	<%= submit_tag "Restart Game", :type => 'button', :onclick => 'resetval()', :class => "restart"%>
   </div>
   <h4><u>Rules </u></h4>
   Click on the squares. If you click on two squares with similar images, they will open else they will close.
   You have to open all the squares in least number of clicks.
</body>
